<a href="#" {{action "toggleShowChildren"}}>{{node.element.name}}</a>
{{#if showChildren}}
  <ul>
    {{#each node.children as |child|}} 
      {{presentation-branch node=child viewElement=attrs.viewElement}} 
    {{/each}}
  </ul>
{{/if}}