<nav class="list-group" data-test-child-nodes-nav>
  {{#each model.children as |child|}} 
    {{link-to (humanize (dasherize child.element.name)) 'discoverable-taxonomy-set.role-type.presentation-node' child class="list-group-item"}}
  {{else}}
     <li class="list-group-item">{{humanize (dasherize model.element.name)}} has no sub-directories!</li>
  {{/each}}
</nav>

