<ul class="list-group" data-test-dts-menu>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Properties</h5>
      {{#link-to 'discoverable-taxonomy-set.role-type.presentation-node'}}<i class="material-icons">close</i>{{/link-to}}
    </div>
  </a>
  {{#each-in model.data as |key value|}}
    <li data-test-element="{{key}}" class="list-group-item"><strong>{{key}}:</strong> <em>{{value}}</em></li>
  {{/each-in}}
</ul>