<h4>Properties {{link-to 'close' 'discoverable-taxonomy-set.role-type.presentation-node'}}</h4>
<ul>
{{#each-in model.data as |key value|}}
  <li data-test-element="{{key}}">{{key}} {{value}}</li>
{{/each-in}}
</ul>