<div class="container">
  <header>
    <h3>{{model.definition}}</h3>
  </header>
  <nav>
    <ul>
      {{#each rootNodes as |node|}} 
        {{presentation-branch node=node viewElement=(action 'viewElement')}} 
      {{/each}}
    </ul>
  </nav>
  <article>
    {{outlet}}
  </article>
</div>