<form>
  {{input value=query type="search" key-up=(action 'filterModel') placeholder="search taxonomy" data-test-search-input=true}}
</form>
{{#each results as |result|}}
  <a href="#" {{action "handleClick" result}}>{{result.name}}</a><br>
{{/each}}