<h4>Child nodes</h4>
<nav data-test-dimension-nodes>
  {{#each model.children as |child|}} 
    {{link-to (concat child.name child.dimensionType) 'discoverable-taxonomy-set.role-type.presentation-node.dimension-node' child}} <br>
  {{/each}}
</nav>