<h4>Child nodes</h4>
<nav>
  {{#each model.children as |child|}} 
    {{link-to child.element.name 'discoverable-taxonomy-set.role-type.presentation-node.dimension-node' child}}<br>
  {{/each}}
</nav>