<header>
  <h1>{{link-to "XBRL DTS Explorer" 'application'}}</h1>
</header>

{{search-bar searchScope=searchScope data-test-search-bar=true navigateToResult=(action "navigateToResult")}}

<main>
  {{outlet}}
</main>

<footer>
  <p>Seo Cahill 2017.</p>
</footer>