<h4>Dimensions {{link-to 'close' 'discoverable-taxonomy-set.role-type.presentation-node'}}</h4>
<nav>
  {{#each rootNodes as |node|}} 
    {{link-to node.element.name 'discoverable-taxonomy-set.role-type.presentation-node.dimension-node' node.id}}
  {{/each}}
</nav>