<h4>Dimensions {{link-to 'close' 'discoverable-taxonomy-set.role-type.presentation-node'}}</h4>
<nav>
  <ul>
    {{#each rootNodes as |node|}}
      {{tree-branch node=node viewElement=(action (mut dimensionElement))}}
    {{/each}}
  </ul>
</nav>
<article>
  <h5>Dimension element properties</h5>
  <ul>
    {{#each-in dimensionElement.data as |key value|}}
    <li>{{key}} {{value}}</li>
    {{/each-in}}
  </ul>
</article>