<nav class="nav nav-pills nav-justified mb-2">
  {{#if model.parent}}
    {{#link-to 'discoverable-taxonomy-set.role-type.presentation-node' model.parent class="nav-item nav-link"}}<i class="material-icons md-48">arrow_upward</i>{{/link-to}}
  {{else}}
    {{#link-to 'discoverable-taxonomy-set.role-type' class="nav-item nav-link"}}<i class="material-icons md-48">arrow_upward</i>{{/link-to}}
  {{/if}}
  {{#link-to 'discoverable-taxonomy-set.role-type.presentation-node.element' model.element.id data-test-element-properties=true class="nav-item nav-link"}}<i class="material-icons">details</i>{{/link-to}}
  {{link-to "Dimensions" 'discoverable-taxonomy-set.role-type.presentation-node.dimensions' class="nav-item nav-link"}}
</nav>
{{outlet}}